html{
  margin: 0;
}

body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  /* font-weight: 1000; */
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background: linear-gradient(70deg,#005aad, #9de9fc);
  border-radius: 0 0 5% 5%;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}


.nav-link {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Montserrat-Light";
}

.navbar-dark .navbar-nav .nav-link {
    color:rgb(243, 251, 253);
}
/* Buttons */

.download-button {
  font-family:'Hind';
  font-size: 1.3rem;
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {  
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 118%;
  /* transform: rotate(25deg); */
  position: absolute;
  right: 0;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.birdimg{
  width: 60px;
}
#b1{
  position: absolute;
  width: 90px;
  top: 10%;
  left: 14%;
  transform: rotate(-18deg);
}

#b2{
  position: absolute;
  width: 50px;
  top: 18%;
  right: 35%;
  transform: rotate(18deg);
}
#b3{
  position: absolute;
  width: 70px;
  bottom: 10%;
  left: 6%;
  transform: rotate(25deg);
}
#b4{
  position: absolute;
  width: 80px;
  bottom: 10%;
  right: 10%;
  transform: rotate(25deg);
}
#b5{
  position: absolute;
  width: 100px;
  top: 5%;
  right: 2%;
  transform: rotate(-18deg);
}
#b6{
  position: absolute;
  width: 60px;
  bottom: 10%;
  left: 35%;
  transform: rotate(-30deg);
}
.icon {
  color:rgb(10, 152, 247) ;
  margin-bottom: 1rem;
}

.icon:hover {
  color:#11CDD4;
}


/* Footer Section */
#footer p{
  font-size: larger;
  color: #fff;
  margin-bottom: 0;
}
#footer .container-fluid{
  padding: 1% 1%;
}

.textplace{
  font-size: large;
  color: rgb(15, 89, 163);
  position: absolute;
  bottom: -54%;
  right: 29%;
}
.place{
  position: relative;
  top: 10%;
  left: 15%;
  transform: rotate(30deg);
}
.mailbtn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #005aad, #11999E);
   background-image: -moz-linear-gradient(top, #005aad, #11999E);
   background-image: -ms-linear-gradient(top, #005aad, #11999E);
   background-image: -o-linear-gradient(top, #005aad, #11999E);
   background-image: -webkit-gradient(to bottom, #005aad, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'PT Sans', sans-serif;
   font-size: 17px;
   font-weight: 100;
   padding: 2px 5px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.mailbtn:hover {
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
.team{
  color:black ;
}
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
