<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=Montserrat:wght@900&family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Stylesheets -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="icon" href="{{ url_for('static',filename='css/images/favicon.ico') }}" />

    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/stylesResult.css') }}">
    <!-- <link rel="stylesheet" href="static/css/stylesResult.css" /> -->

    <!-- Font Awesome -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>

    <!-- Bootstrap Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    
  </head>
  <body>
    <section class="colored-section" id="title">
      <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="">twittEmotion</a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item clr">
                <a class="nav-link" href="#visuals">Visuals</a>
              </li>
               <li class="nav-item clr">
                <a class="nav-link" href="#wordcloud">WordCloud</a>
              </li>
              <li class="nav-item clr">
                <a class="nav-link" href="#posid">Positive</a>
              </li>
              <li class="nav-item clr">
                <a class="nav-link" href="#negid">Negative</a>
              </li>
              <li class="nav-item clr">
                <a class="nav-link" href="#neuid">Neutral</a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Title -->
      </div>
    </section>
 
    <div class="pieChart"></div>
    <div class="barChart" id="chartContainer" style="height: 370px; width: 50%"></div>

    <div class='wcloud' id="wordcloud">
      <h4>Word Cloud</h4> 
            <img
        class="cloudimg"
        src="../static/css/images/{{ img_name }}"
        alt="wordcloud"
      />
    </div>
    <div class="pos" id="posid">
      <h1 class="posHeading">Recent Positive Tweets</h1>
      <div class="subdiv">
        {% for tweet in pos_tweets[:10] %}
        <p>{{ tweet['text'] }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="neg" id="negid">
      <h1 class="negHeading">Recent Negative Tweets</h1>
      <div class="subdiv">
        {% for tweet in neg_tweets[:10] %}
        <p>{{ tweet['text'] }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="neu" id="neuid">
      <h1 class="neuHeading">Recent Neutral Tweets</h1>
      <div class="subdiv">
        {% for tweet in neutral_tweets[:10] %}
        <p>{{ tweet['text'] }}</p>
        {% endfor %}
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawPie);

        function drawPie() {
          var data = new google.visualization.DataTable();
          data.addColumn("string", "Sentiment");
          data.addColumn("number", "Tweets");
          data.addRows([
            ["Positive", Number("{{ pos_tweets|length }}") ],
            ["Negative", Number("{{ neg_tweets|length }}")],
          ]);

          var options = {
            title: "Sentiment Analysis by Percentage",
            is3D: true,
          pieSliceTextStyle: {color: "white" ,fontSize:20,bold: true},
            colors: ["#51CDA0", "#ff5252", "#62B1FF"],
            titleTextStyle: { color: "#000" ,fontSize:25,fontWeight:0},
            backgroundColor: "#d0eaf7",
            width: 700,
            height: 500,
          };

          var chart1 = new google.visualization.PieChart(
            document.getElementsByClassName("pieChart")[0]
          );
          chart1.draw(data, options);
        }

      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title: {
          text: "Analysis by Count",
          fontFamily: "monospace",
          fontSize: 25,
          fontWeight:900,
        },
        axisX: {
          interval: 1,
        },
        axisY: {
          title: "Counts ",
          includeZero: true,
        },
        data: [
          {
            type: "bar",
            dataPoints: [
              { label: "Positive", y: Number("{{ pos_tweets|length }}") ,},
              {label: "Negative",y: Number("{{ neg_tweets|length }}") , },
              { label: "Neutral", y: Number("{{ neutral_tweets|length }}"), },
            ],
          },
        ],
      });
      chart.render();
    </script>
    

    <!-- Footer -->
    <i class="place icon fas fa-long-arrow-alt-down fa-3x"></i>
    <footer class="colored-section" id="footer">
      <div class="container-fluid">
        <p>
          © Copyright 2021
          <span class="team">
            from_pandeys_import_
            <a class="mailbtn" href="mailto:rajneeshpandey1708@gmail.com">R</a>
            <a class="mailbtn" href="mailto:satyarth2002pandey@gmail.com">S</a>
          </span>
        </p>
      </div>
    </footer>
  </body>
</html>
